@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/hero";






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.container{
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
    background-color: #1F2E35;

}



@media (max-width:648px) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

@media (max-width:448px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    
}