footer{
    padding-top: 150px;

    .footer-container{
        display: flex;
        gap: 160px;

    }
    
    .footer-desc{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 120px;

        .footer_desc_items{
            width: 118px;
            color:#fff;

            h3{
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 8px;
            }
            p{
                padding-top: 8px;
                padding-bottom: 24px;
            }

            input{
                max-width: 425px;
                height: 32px;
            }

            .footer-btn{
                padding: 9px 15px;
                background-color: #02897A;
                color:#fff;
                border:none;
                margin-top: 30px;      
                border-radius: 8px;
                          
            }

        }

    }

    .nav_logo{
        display: flex;
        align-items: center;
        gap: 10px;
        color:#fff;
    }

    .footer_media i{
        width: 50px;
        height: 50px;
        font-size: 27px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        padding-top: 12px;
        margin-top: 20px;
        color:#02897A;
        cursor: pointer;
    }

    .footer_media i:hover{
        background-color: #02897A;
        color:#fff;
        transition: all 0.5s linear;
    }
}
