footer{
    padding-top: 150px;
    .footer-text{
        text-align: center;
        color: white;
        margin: 50px 0;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer-desc{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 150px;

        .footer_desc_items{
            width: 160px;
            color:#fff;
            // border:  2px solid red;

            h3{
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 16px;
                font-family: "poppins";


            }
            p{
                padding-bottom: 24px;
                font-size: 18px;
                font-family: "poppins";

            
            }

            input{
                width: 250px;
                height: 35px;
                border-radius: 10px ;
               

            }

            .footer-btn{
        
                padding: 9px 15px;
                background-color: #02897A;
                color:#fff;
                border:none;
                margin-top: 30px;      
                border-radius: 8px;
            }

        }

    }

    .nav_logo{
        display: flex;
        align-items: center;
        gap: 10px;
        color:#fff;
    }

    .footer_media i{
        width: 50px;
        height: 50px;
        font-size: 27px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        padding-top: 12px;
        margin-top: 20px;
        color:#02897A;
        cursor: pointer;
    }

    .footer_media i:hover{
        background-color: #02897A;
        color:#fff;
        transition: all 0.5s linear;
    }
}


@media (max-width:1400px) {

    footer{

        .footer-desc{
            gap: 100px;
        }
    }
}

@font-face {
    font-family: "poppins";
    src: url(../../Poppins/Poppins-Bold.ttf);
}



@media (max-width:1112px) {

    footer{
        .footer-container{
         
        }
    

        .footer-desc{
            gap: 60px;
        }
    }
}

@media (max-width:1000px) {
   
        .footer-container{
            flex-wrap: wrap;
         

            .footer_top{
                margin: 0 auto;
                padding-bottom: 30px;
            }
        }
        
        
    }
    @media (max-width:900px) {
        footer{
            .footer-container{
            
            }
        
    
            .footer-desc{
                gap: 60px;
            }
        }
    }

  
    

    @media (max-width:500px) {

        footer{
            .footer-desc{
            flex-wrap: wrap;
          
          
            .footer_desc_items{
                width: 190px;
                text-align: center;
                h3{
                    font-size: 18px;
             
                    padding-bottom: 14px;
                  
    
    
                }
                p{
                    padding-bottom: 22px;
                    font-size: 16px;
                  
    
                
                }
    
            }
       
        }  }
        
    }
    
    
    @media (max-width:375px) {
        .info_media_right{
            margin-left: -50px;
            
        }
    }


