.header_hero{
    // border:  1px solid red;
    // max-width: 1610px;

    .header_hero_desc{
        color: #fff;
        padding-top: 50px;
        font-family: "poppins";


        .hero_subtitle{
           font-family: "poppins";
            text-align: center;
        }
        .hero_heading{
            font-size: 40px;
            text-align: center;
            padding-top: 32px;
            font-weight: 700;
           font-family: "poppins";


        }
        .hero_text{
            text-align: center;
            font-size: 16px;
            padding-top: 16px;
           font-family: "poppins";

        }
    }
    

    .hero_boxes{
        max-width:1120;
        display: flex;
        justify-content:center;
        align-content: center;
        gap: 60px;
        flex-wrap: wrap;
        padding-top: 50px;
        font-family: "poppins";


       
        .hero_box{
            background-color: #fff;
            width: 322px;
            text-align: center;
            border-radius: 8px;
           font-family: "poppins";

            h2{
                text-align: center;
                font-weight: 700;
                font-size: 24px;
                padding-top: 24px;
               font-family: "poppins";

            }
            p{
                font-weight: 400;
                font-size: 16px;
                text-align:center;
                padding-top: 8px;
               font-family: "poppins";

            }
            .hero_btn{
                padding: 11px 20px;
                border:none;
                background-color: #02897A;
                border-radius: 8px;
                margin-top: 38px;
                color:#fff;
               font-family: "poppins";

            }
            .hero_box_price{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
               font-family: "poppins";

                .zero{
                    font-size: 76px;

                }
                .box_zero{
                    text-align: start;
                    p{
                        color:#AFAFAF;
                        font-family: "poppins";


                    }

                }

                h3{
                    font-family: "poppins";

                    color:#02897A;

                }
            }
        }
    }
}


.box_blue{
    background-color: #02897A;
    width: 320px;
    text-align: center;
    border-radius: 8px;
    color:#fff;
    font-family: "poppins";

    h2{
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        padding-top: 24px;
        font-family: "poppins";

    }
    p{
        font-weight: 400;
        font-size: 16px;
        text-align:center;
        font-family: "poppins";

        padding-top: 8px;
    }
    .hero_btn{
        padding: 11px 20px;
        border:none;
        background-color: #fff;
        border-radius: 8px;
        font-family: "poppins";

        margin: 38px 0px 32px;
        color:#02897A;
    }
    .hero_box_price{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "poppins";

        .zero{
            font-size: 76px;

        }
        .box_zero{
            color:#fff;
            p{
                color:#fff;
        font-family: "poppins";


            }

        }

        h3{
            color:#fff;
          font-family: "poppins";


        }
    }
}



