.main_product{
        
    h2{
        font-size: 34px;
        margin-bottom: 52px;
        text-align: center;
        padding-top: 150px;
        color:#fff;
        font-weight: 700;
        line-height: 51px;

    }

    .product_all{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 60px;

    }

    .product_left{
       .left_media{
        display: none;
       }
    }


    .product_right{

        p{
            font-weight: 400;
            color:#fff;
            padding-top: 16px;
            max-width: 500px;
            margin-bottom: 32px;
        }
        .product_right_box{
            display: flex;
            align-items: center;
            gap: 18px;


            h3{
                font-weight: 600;
                font-size: 24px;
                color:#fff;

            }
        }
    }

}


@media (max-width:600px) {
    .main_product{
    .product_left{
       .product_left-img{
         display: none;

       }
       .left_media{
        display: block;
       }
    }

    }

    
}